@using Shop.UI.ViewModel.Categories
@model CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}



   
        <h2 class="text-center m-3 alert mytitle"> Edit Category</h2>
        <form asp-action="Edit" method="post">

              <div asp-validation-summary=All  class="text-danger"></div>
            <div class="text-danger">@ViewData["message"]</div>
         <input type="hidden" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label m-1"> Category Name</label>
                <input  asp-for="Name" class="form-control m-1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label m-1"> Description</label>
                <textarea type="text" asp-for="Description" class="form-control m-1" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 ">
                 <button type="submit" class="btn btn-primary m-3"> Update</button>
                 <a class="btn btn-light" asp-action="Index"><i class="fa-solid fa-angles-left"></i>  Back</a>
            </div>
           
        </form>




