@using Shop.UI.ViewModel.Cart

@{
    ViewData["Title"] = "Cart";
    // var cartId = @Model.CartId;
}


<div class="cartItems">
</div>


@section Scripts{

<script src="~/js/Cart/CartItems.js"></script>

}
