@using Shop.Application.Contracts
@using Shop.UI.ViewModel.Products
@model CreateProductViewModel



<div class="row">
    <div class="col-md-6">
        <h2 class="text-center m-3 alert mytitle"> Create Product</h2>
        <form asp-action="Create" asp-controller="Product" method="post" enctype="multipart/form-data" >

              <div asp-validation-summary=All  class="text-danger"></div>
            <div class="text-danger">@ViewData["message"]</div>
      
            <div class="form-group m-3">
                <label asp-for="Name" class="control-label m-1"> Product Name</label>
                <input  asp-for="Name" class="form-control m-1" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group m-3">
                <label asp-for="Description" class="control-label m-1"> Description</label>
                <input type="text" asp-for="Description" class="form-control m-1" >
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="Price" class="control-label m-1"> Price</label>
                <input type="text" asp-for="Price" class="form-control m-1" >
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
              <div class="form-group m-3">
                <label asp-for="Files" class="control-label m-1" > Photo</label>
                <input type="file" asp-for="Files" class="form-control m-1"  multiple>
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group m-3 " >
      
                <div  id="selectCategory" class="selectcontainer"   style="overflow-y: scroll;height:96px"> 
                  

                </div>
              
            </div>
              
            <div class="form-group m-3">
                <ejs-schedule id="schedule" width="100%" height="650" selectedDate="new DateTime(2018, 4, 1)" currentView="TimelineMonth">
  



            </div>
            <div class="form-group mt-3 ">
                 <button type="submit" class="btn btn-primary m-3" id="liveToastBtn"> Create</button>
                 <a class="btn btn-light" asp-action="Index"><i class="fa-solid fa-angles-left"></i>  Back</a>
            </div>
           
        </form>

 @section Scripts{ 
   
      <script src="~/js/Products/MCreateProduct.js"></script>
  
}