@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <input type="text" id="term" />
            
                  
             
                    <label asp-for="categoryId" class="control-label m-1"> Categories</label>
                    <div id="sml">
                         <select name="selectCategory"    class="form-select selectcontainer" multiple id="select"> 
                   <option selected value="1"  draggable="true" style="cursor:move" class="draggebales">Choose...</option>
                     
                   </select>
                    </div>
                  
        <div id="Paginated">
            <a  id="Previous"
   
            
  
                 class="btn btn-default">
               Previous
           </a>
         <a  id="Next"
   
         class="btn btn-default ">
        Next
       </a>
*@