@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">
   <h1 class="text-danger"> Access Denied</h1>
   <h6 class="text-danger"> you dont have a persmission to view that resource</h6>
   <img src="~/images/noAccess.jpg" style="height:300px;width:300px" />
</div>