@model ForgetPasswordViewModel
@{
    ViewBag.Title = "ForgetPassword";
}

<div class="row myrow">
    <div class="col-md-12 login ">
        <h2> Enter your Email And we well send an Email for change your password </h2>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                  <input type="email" asp-for="Email" class="form-control" />
                  <span asp-validation-for="Email" class="text-danger"></span>
            </div>
          
            <button type="submit" class="btn btn-primary" >Supmit</button>
        </form>
    </div>
</div>